body{
    margin: 0 auto;
    width: 1024px;
}
header {
    background: #e9b5a5;
    text-align: center;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#nav {
    background: #e9b5a5;
    text-align: center;
    padding: 15px;
    margin-bottom: 10px;
}

section {
    background: #e9b5a5;
    text-align: center;
    padding: 15px;
    width: 53%;
    height: 350px;
    margin-bottom: 10px;
    z-index: 1;
    float: left;
}

article {
    background: #f0977c;
    text-align: center;
    padding: 15px;
    width: 94%;
    height: 270px;
    z-index: 2;
    position: relative;
    top: 30px;
}
#article_header{
    background: #ffffff;
    height: 100px;
    margin-bottom: 30px;
    position: relative;
    top: 20px;
}

#article_paragraph{
    background: #ffffff;
    height: 100px;
}
aside {
    background: #e9b5a5;
    text-align: center;
    padding: 15px;
    width: 40%;
    height: 350px;
    float: right;
}

.clearfix::after {
    content: " ";
    display: block;
    clear: left;
}

footer {
    background: #e9b5a5;
    text-align: center;
    padding: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}