body{
    margin: 0 auto;
    width: 1024px;
}
header {
    background: #e9b5a5;
    text-align: center;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#nav {
    background: #e9b5a5;
    text-align: center;
    padding: 15px;
    
}